
OpticalTweezers1/Videos/10-12-24/captured\!.avi
OpticalTweezers1/Videos/10-12-24/pushing-upwards.avi
Images/10-12-24/captured\!.avi
Images/10-12-24/pushing-upwards.avi
Images/08-01-25/59mA-4.5cm.avi
Images/08-01-25/59mA-4.5cm_2.avi
Images/08-01-25/61mA-4.5cm.avi
Images/08-01-25/60mA-4.5cm.avi
Images/08-01-25/65mA-4.5cm.avi
Images/08-01-25/61mA-4.5cm_2.avi
Images/08-01-25/65mA-5cm.avi
